
@{
    ViewBag.Title = "DangNhap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "DangNhap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="https://fonts.googleapis.com/css?family=Assistant:400,700" rel="stylesheet">
<link rel="stylesheet" href="~/Content/Css/DangNhapDangKy.css">
<h2 style="text-align: center">ĐĂNG NHẬP</h2>
<br />
<div class="row">
    <div class="login">
        @using (Html.BeginForm("DangNhap", "NguoiDung"))
        {
            @Html.ValidationSummary(true)
            <div class="form-group">
                <label for="dangnhap">Tên đăng nhập:</label>
                <div class="form-group">
                    @Html.TextBox("TenDangNhap", null, new
                    {
                        @class = "form-control",
                        @id = "TenDangNhap",
                        required = "required",
                        @placeholder = "Tên Đăng Nhập"
                    })
                </div>
                <div class="form-group">
                    @Html.Password("MatKhau", null, new
                    {
                        @class = "form-control",
                        @id = "MatKhau",
                        required = "required",
                        @placeholder = "Mật Khẩu"
                    })
                </div>
            </div>
            <button type="submit" class="btn btn-primary">ĐĂNG NHẬP</button>
            <button class="btn btn-primary" style="background-color: black" type="button">@Html.ActionLink("ĐĂNG KÝ", "DangKy", "NguoiDung")</button>
        }
    </div>
</div>
<h2 style="color: red;">@ViewBag.ThongBao</h2>
